-- Alenia Pulse Production Database Export
-- Generated on: 2025-12-23
-- Version: 1.4.0

-- Disable triggers and foreign key checks temporarily for data insertion
SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

-- Drop existing tables and their constraints (if they exist)
DROP TABLE IF EXISTS public.likes CASCADE;
DROP TABLE IF EXISTS public.audit_log CASCADE;
DROP TABLE IF EXISTS public.news CASCADE;
DROP TABLE IF EXISTS public.subscribers CASCADE;
DROP TABLE IF EXISTS public.users CASCADE;
DROP TABLE IF EXISTS public.domains CASCADE;

-- Ensure public schema exists
CREATE SCHEMA IF NOT EXISTS public;

-- Create tables with serial primary keys
CREATE TABLE IF NOT EXISTS public.domains (
    id serial NOT NULL,
    name character varying(100) NOT NULL,
    color character varying(50) NOT NULL,
    CONSTRAINT domains_pkey PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS public.users (
    id serial NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) NOT NULL DEFAULT 'user',
    domain_id integer,
    created_at timestamp DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_pkey PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS public.subscribers (
    id serial NOT NULL,
    email character varying(100) NOT NULL,
    name character varying(100),
    created_at timestamp DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT subscribers_pkey PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS public.news (
    id serial NOT NULL,
    title character varying(255) NOT NULL,
    domain_id integer NOT NULL,
    content text NOT NULL,
    date date DEFAULT CURRENT_DATE NOT NULL,
    author_id integer,
    editors text[] DEFAULT '{}',
    likes_count integer DEFAULT 0,
    archived boolean DEFAULT false,
    pending_validation boolean DEFAULT true,
    validated_by integer,
    validated_at timestamp,
    CONSTRAINT news_pkey PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS public.audit_log (
    id serial NOT NULL,
    user_id integer,
    action character varying(50) NOT NULL,
    "timestamp" timestamp DEFAULT CURRENT_TIMESTAMP,
    ip_address character varying(45),
    user_agent text,
    CONSTRAINT audit_log_pkey PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS public.likes (
    id serial NOT NULL,
    news_id integer NOT NULL,
    ip_address character varying(45) NOT NULL,
    created_at timestamp DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT likes_pkey PRIMARY KEY (id)
);

-- Create sequences (serial already handles this, but define explicitly if needed)
CREATE SEQUENCE IF NOT EXISTS public.domains_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

CREATE SEQUENCE IF NOT EXISTS public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

CREATE SEQUENCE IF NOT EXISTS public.subscribers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

CREATE SEQUENCE IF NOT EXISTS public.news_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

CREATE SEQUENCE IF NOT EXISTS public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

CREATE SEQUENCE IF NOT EXISTS public.likes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;

-- Associate sequences with tables
ALTER SEQUENCE public.domains_id_seq OWNED BY public.domains.id;
ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;
ALTER SEQUENCE public.subscribers_id_seq OWNED BY public.subscribers.id;
ALTER SEQUENCE public.news_id_seq OWNED BY public.news.id;
ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;
ALTER SEQUENCE public.likes_id_seq OWNED BY public.likes.id;

-- Set sequence values to start after current max values
SELECT setval('public.domains_id_seq', COALESCE((SELECT MAX(id) FROM public.domains), 1), false);
SELECT setval('public.users_id_seq', COALESCE((SELECT MAX(id) FROM public.users), 1), false);
SELECT setval('public.subscribers_id_seq', COALESCE((SELECT MAX(id) FROM public.subscribers), 1), false);
SELECT setval('public.news_id_seq', COALESCE((SELECT MAX(id) FROM public.news), 1), false);
SELECT setval('public.audit_log_id_seq', COALESCE((SELECT MAX(id) FROM public.audit_log), 1), false);
SELECT setval('public.likes_id_seq', COALESCE((SELECT MAX(id) FROM public.likes), 1), false);

-- Add foreign key constraints
DO $$ 
BEGIN
    -- Add foreign key constraints if they don't exist
    BEGIN
        ALTER TABLE public.users ADD CONSTRAINT users_domain_id_fkey FOREIGN KEY (domain_id) REFERENCES public.domains(id);
    EXCEPTION
        WHEN duplicate_object THEN NULL;
    END;

    BEGIN
        ALTER TABLE public.news ADD CONSTRAINT news_domain_id_fkey FOREIGN KEY (domain_id) REFERENCES public.domains(id);
    EXCEPTION
        WHEN duplicate_object THEN NULL;
    END;

    BEGIN
        ALTER TABLE public.news ADD CONSTRAINT news_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id);
    EXCEPTION
        WHEN duplicate_object THEN NULL;
    END;

    BEGIN
        ALTER TABLE public.news ADD CONSTRAINT news_validated_by_fkey FOREIGN KEY (validated_by) REFERENCES public.users(id);
    EXCEPTION
        WHEN duplicate_object THEN NULL;
    END;

    BEGIN
        ALTER TABLE public.audit_log ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);
    EXCEPTION
        WHEN duplicate_object THEN NULL;
    END;

    BEGIN
        ALTER TABLE public.likes ADD CONSTRAINT likes_news_id_fkey FOREIGN KEY (news_id) REFERENCES public.news(id) ON DELETE CASCADE;
    EXCEPTION
        WHEN duplicate_object THEN NULL;
    END;
END $$;

-- Insert domains data
INSERT INTO public.domains (id, name, color) VALUES
  (1, 'Hiring', '#3b82f6'),
  (2, 'Event', '#8b5cf6'),
  (3, 'Journey', '#22c55e'),
  (4, 'Communication', '#f97316'),
  (5, 'Admin', '#ef4444');

-- Insert users data with hashed passwords
-- Passwords: hiring123, event123, journey123, comm123, admin.contrib123, admin123, user123

-- Insert subscribers data

-- Insert news articles data

-- Insert audit log data (if the table exists)
INSERT INTO public.audit_log (id, user_id, action, "timestamp", ip_address, user_agent) VALUES
  (1, 6, 'login', CURRENT_TIMESTAMP - INTERVAL '1 hour', '127.0.0.1', 'PostgreSQL Client'),
  (2, 1, 'login', CURRENT_TIMESTAMP - INTERVAL '30 minutes', '127.0.0.1', 'PostgreSQL Client');

-- Insert likes data (if the table exists)
INSERT INTO public.likes (id, news_id, ip_address, created_at) VALUES
  (1, 1, '192.168.1.100', CURRENT_TIMESTAMP - INTERVAL '1 day'),
  (2, 5, '192.168.1.101', CURRENT_TIMESTAMP - INTERVAL '2 hours'),
  (3, 9, '192.168.1.102', CURRENT_TIMESTAMP - INTERVAL '30 minutes');

-- Update sequences to reflect the inserted data
SELECT setval('public.domains_id_seq', (SELECT MAX(id) FROM public.domains), true);
SELECT setval('public.users_id_seq', (SELECT MAX(id) FROM public.users), true);
SELECT setval('public.subscribers_id_seq', (SELECT MAX(id) FROM public.subscribers), true);
SELECT setval('public.news_id_seq', (SELECT MAX(id) FROM public.news), true);
SELECT setval('public.audit_log_id_seq', (SELECT MAX(id) FROM public.audit_log), true);
SELECT setval('public.likes_id_seq', (SELECT MAX(id) FROM public.likes), true);

-- Create indexes if they don't exist (for performance)
CREATE INDEX IF NOT EXISTS idx_news_domain_id ON public.news(domain_id);
CREATE INDEX IF NOT EXISTS idx_news_date ON public.news(date);
CREATE INDEX IF NOT EXISTS idx_news_archived ON public.news(archived);
CREATE INDEX IF NOT EXISTS idx_news_pending_validation ON public.news(pending_validation);
CREATE INDEX IF NOT EXISTS idx_users_domain_id ON public.users(domain_id);
CREATE INDEX IF NOT EXISTS idx_likes_news_id ON public.likes(news_id);

-- Database ready for production use
-- Admin login: admin@company.com / admin123
-- Contributor logins: 
--   - hiring@company.com / hiring123
--   - events@company.com / event123
--   - journey@company.com / journey123
--   - comm@company.com / comm123
--   - admin.contributor@company.com / admin.contrib123